*{  margin-left: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
/*css to reveal elements onscroll*/
.reveal{
    position: relative;
    transform: translateY(90px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;

  }
  #welc{
    color: rgb(60, 62, 62);
    margin: 0px 150px;
    line-height: 30px;
    font-size: larger;
  }
.intro{
    height: fit-content;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
    
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  color: rgb(9, 2, 63);
  margin-top: 25px;
  text-align: center;
}
.box{

    height: 260px;
    width: 300px;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
    margin:40px 10px;
    padding: 0 30px;
    
    line-height: 20px;
    font-size: small;
    color: rgb(60, 62, 62);
    border-radius:3px;
} 
.box figcaption{
  font-size: large;
  font-weight: bold;
  color:  rgb(13, 2, 91);
}
  .view-more-button {
    background-color: rgb(17, 4, 101);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    position: relative; 
    transition: all 0.2s ease-in-out;
    transition:border 0.2s linear;
    animation: pop linear 1.5s infinite;
    margin-top:30px;

  }
  @keyframes pop{
    0%{ transform: scale(1);}
    50%{transform: scale(1.07);}
    100%{transform: scale(1);}
  
  }
  .view-more-button:hover{
    animation:none;
    color:  #fff;
    box-shadow: 0px 8px 18px rgba(0,0,0,0.3);
  }
  
.learnmo{
  height:fit-content;
  width: auto;
  line-height: 25px;
  font-size: large;
  margin: 0px 130px;
  color: rgb(76, 78, 78);
  font-weight: lighter;
}
.learnmo h2{
 margin-bottom: 2%;
}
 .learnmore p{
  margin: 6% 50px;
  font-weight: lighter;

 }

.msg{
  margin-top: 20px;
  height:fit-content;
  width: 95%;
  padding: 20px 30px;
  line-height: 25px;
  background-color: rgb(242, 231, 218);
  display: flex;
justify-content:flex-start;
 background-image: linear-gradient(to top left, black, rgba(27, 6, 165,0.8));
}
.msg img{
  border-radius: 6px;
   width:500px;
}

aside .hd{
  font-size: 32px;
  font-weight:bolder;
  color: rgb(243, 241, 238);
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
aside p{
  line-height: 37px;
  margin:4% 0;
  color: rgb(211, 210, 208);
}
aside h4{
  font-size: 19px;
  font-weight: bold;
  color:aquamarine;
  float: right;
  font-style: italic;
}
aside .cap{
  font-size: 15px;
  margin-left: 50px;
  font-style: normal;
  letter-spacing: 2px;
  color: rgb(211, 210, 208);
  font-weight: light;
}

.msg aside{
  height: inherit;
  width: 70%;
  padding: 0px 60px;
}
.testm{
  height:fit-content;
  width: auto;
  padding: 20px 20px;
  line-height: 30px;
  display: flex;
  justify-content: center;
}
.qtwrapp{
  height: 350px;
  width:90%;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
  0 5px 14px 0 rgba(0, 0, 0, 0.18);
  border-radius:3px;
  padding: 0 30px;
  
}
.qtwrapp img{
    border-radius: 50%;
    margin:2% 0;
}
.qtwrapp figcaption{
  line-height: 16px;
  font-size: 18px;
  color: rgb(9, 2, 63);
}

.btmcap{
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
}
.qtwrapp p{
  color: rgb(60, 62, 62);
  
  margin: 2% 10%;
}
.countsection{
  height: 180px;
  width: auto;
  background-image: linear-gradient(to  left, black,  rgb(27, 6, 165));
  display: flex;
  justify-content: center;
  align-items: center;
}
.counters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.counter {
  margin: 30px 50px;
  font-size: 45px;
  font-weight: bolder;
  color: aliceblue;
}

.counter-name {
  font-size: 15px;
  font-weight: lighter;
  color:  aliceblue;
}
.snapsection{
  height: fit-content;
  width: auto;
}
.snapsection .mainhead{
  text-align: center;
}
.snap img{
  border-radius: 5px;
}
.snapwrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.snapsection .snap{
  height: 400px;
  width:380px;
  margin: 30px 5px;
 font-weight: lighter;

}
 
.snap .headline{
  font-size: 20px;
  font-weight: bold;
  font-weight: lighter;
  color: black;
  margin-top:5%;
}
.snapsection h2{
  margin:1% 0;
}
.snap .caption{
  margin-top: 1px;
  line-height: 25px;
}
@media screen and (max-width: 1000px) {
  p{
    font-size: small;
  }
 #welc,.learnmo{
  margin: 0px 20px;
 }
  .counter {
    margin: 10px 20px;
    font-size: 23px;
  }
  .counter-name{
    font-size: 11px
  }
  .qtwrapp{
    height: fit-content;
 
  }
  .msg{
    flex-direction: column;
    height: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;
    
  }
  .msg img{
   width:100%;
   position: relative;
   height: 350px;
  }
  aside .hd{
    margin-top: 5px;
    font-size: 23px;
  }
  aside p{
    line-height:23px ;
  
  }
  .learnmo h2{
  font-size: x-large;
  }
  .learnmo p{
    font-size: small;
    line-height:22px;
    }
    .msg .hd{
      font-size:large;
    }
    .msg p{
      font-size: medium;
      line-height:27px;
    }
    .snapsection h2{
      font-size:x-large;
    }
    .snapsection .mainhead{
      font-size:small;
      margin-left:5%;
      margin-right: 3%;
    }
}